<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_key</key>
	<string>9ab78f9c-4ebd-352e-b24e-528e3a8bd836</string>
	<key>domain_api</key>
	<string>userlike.dyndns.org</string>
	<key>domain_socketio</key>
	<string>userlike.dyndns.org</string>
	<key>has_registration</key>
	<false/>
	<key>is_proactive</key>
	<false/>
	<key>lang</key>
	<string>en</string>
	<key>proactive_message</key>
	<false/>
	<key>proactive_timeout</key>
	<integer>0</integer>
	<key>socketio_port_http</key>
	<integer>8080</integer>
	<key>socketio_port_ssl</key>
	<integer>8443</integer>
	<key>support_chat_state</key>
	<false/>
	<key>support_offlinemode</key>
	<false/>
	<key>support_screenshot</key>
	<false/>
	<key>support_ssl</key>
	<false/>
	<key>widget_key</key>
	<string>d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f90da3a666eec13ab35</string>
</dict>
</plist>
