<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_key</key>
	<string>a4e99b2f-2d7c-3785-ae0f-231eb2a7282a</string>
	<key>domain_api</key>
	<string>userlike.com</string>
	<key>domain_socketio</key>
	<string>userlike.com</string>
	<key>has_registration</key>
	<false/>
	<key>is_proactive</key>
	<false/>
	<key>lang</key>
	<string>en</string>
	<key>proactive_message</key>
	<false/>
	<key>proactive_timeout</key>
	<integer>0</integer>
	<key>socketio_port_http</key>
	<integer>8080</integer>
	<key>socketio_port_ssl</key>
	<integer>8443</integer>
	<key>support_chat_state</key>
	<false/>
	<key>support_offlinemode</key>
	<false/>
	<key>support_screenshot</key>
	<false/>
	<key>support_ssl</key>
	<false/>
	<key>widget_key</key>
	<string>202264ef985dab52e4c39523ebc2546b7e7e668ab2dbb6f6f88649631d019769</string>
</dict>
</plist>
